<div>
    <h2>Map</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 no-padding-left">
                <div
                    rg-range-picker="myDatetimeRange"
                    labels="myDatetimeLabels"
                    on-time-change="whenTimeChange"
                    super-max-date=""
                    super-min-date=""
                    max-range-date="10"></div>
            </div>
            <div class="col-md-3">
                <label for="device" class="col-md-4 control-label text-right">Device:</label>
                <div class="col-md-8">
                    <select class="form-control" ng-model="device" id="device"
                            ng-options="device as device.description for device in devices" ng-change="loadAll()">
                    </select>
                </div>
            </div>
        </div>


        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" control="map.control">
            <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                              geodesic='p.geodesic' fit="true" editable="p.editable" draggable="p.draggable" icons='p.icons'>
            </ui-gmap-polyline>
            <ui-gmap-marker coords="marker.home.coords" options="marker.home.options" idkey="marker.home.id">
            </ui-gmap-marker>
            <ui-gmap-marker ng-if="marker.current" coords="marker.current.coords" options="marker.current.options" idkey="marker.current.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>
