<div>
    <div class="row">

        <div class="col-md-offset-2 col-md-8">

            <h2><span>Status</span> {{vm.status.id}}</h2>
            <button type="submit"
                    ui-sref="{{ vm.previousState }}"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
            </button>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="dl-horizontal jh-entity-details">
                <dt><span>Device State</span></dt>
                <dd>
                    <span>{{vm.status.deviceState}}</span>
                </dd>
                <dt><span>Device Temperature</span></dt>
                <dd>
                    <span>{{vm.status.deviceTemperature}}</span>
                </dd>
            </dl>

            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">
                    <ui-gmap-google-map ng-if="vm.status.location.latitude && vm.status.location.longitude" center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" control="map.control">
                        <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
                        </ui-gmap-marker>
                        <ui-gmap-circle ng-repeat="c in vm.circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                                        visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control">
                        </ui-gmap-circle>
                    </ui-gmap-google-map>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail" ng-repeat="image in vm.status.images track by $index">
                        <img ng-src="data:image/JPEG;base64,{{image.rawImage}}">
                    </div>
                </div>
            </div>

            <button type="submit"
                    ui-sref="{{ vm.previousState }}"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

        </div>
    </div>
</div>
